.para {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.indexh2{
    color: cadetblue;
    font-display:initial ;
    font-style: italic;
    border:2px solid black;
    display: inline;
    margin:0;
    



}
